<div class="row" style="margin-top: -55px">
	<div class="col-md-6">
		<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
			<kt-portlet-header [title]="'दर्ता	<small>जम्मा दर्ता भएका पत्रहरु</small>'"></kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-widget25">
					<span class="kt-widget25__stats m-font-brand">56821</span>
					<span class="kt-widget25__subtitle">जम्मा दर्ता भएका पत्रहरु</span>
					<div class="kt-widget25__items">
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								35091
							</span>
							<div class="progress kt-progress--sm">
								<div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								आज दर्ता भएका पत्रहरु <a style="font-size: 11px;" class="kt-link" href="#"> सबै
									हेर्नुहोस्</a>
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								7913
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								यो महिना दर्ता भएका पत्रहरु <a style="font-size: 11px;" class="kt-link" href="#"> सबै
									हेर्नुहोस्</a>
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								12091
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								यो वर्ष दर्ता भएका पत्रहरु <a style="font-size: 11px;" class="kt-link" href="#"> सबै
									हेर्नुहोस्</a>
							</span>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-md-6">
		<div class="kt-portlet">
			<div class="kt-portlet__body  kt-portlet__body--fit">
				<div class="row row-no-padding row-col-separator-xl">
					<div class="col-md-6" style="border-bottom: 1px solid rgb(238, 234, 240)">
						<!--begin::Total Profit-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										दर्ता भएका कार्यालयहरु
									</h4>
									<span class="kt-widget24__desc">
										सबै कार्यालयहरु
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-brand">
									7875
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-brand" role="progressbar" style="width: 78%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									78%
								</span>
							</div>
						</div>
						<!--end::Total Profit-->
					</div>

					<div class="col-md-6" style="border-bottom: 1px solid rgb(238, 234, 240)">
						<!--begin::New Feedbacks-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										आर्थिक वर्ष २०७६/७७ मा दर्ता भएका
									</h4>
									<span class="kt-widget24__desc">
										सबै कार्यालयहरु
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-warning">
									488
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 84%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									84%
								</span>
							</div>
						</div>
						<!--end::New Feedbacks-->
					</div>

					<div class="col-md-6" style="border-bottom: 1px solid rgb(238, 234, 240)">
						<!--begin::Total Profit-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										जम्मा वडाहरु
									</h4>
									<span class="kt-widget24__desc">
										सबै वडाहरु
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-brand">
									12
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-brand" role="progressbar" style="width: 78%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									78%
								</span>
							</div>
						</div>
						<!--end::Total Profit-->
					</div>

					<div class="col-md-6" style="border-bottom: 1px solid rgb(238, 234, 240)">
						<!--begin::New Feedbacks-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										आर्थिक वर्ष २०७६/७७
									</h4>
									<span class="kt-widget24__desc">
										सबै वडाहरु
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-warning">
									5
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 50%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									50%
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
			<div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						दर्ता भएका पत्रहरु
					</h3>
				</div>
				<div class="kt-portlet__head-toolbar">
					<!-- <mat-form-field>
						<mat-select>
							<mat-option value="All">सबै</mat-option>
							<mat-option value="1">वडा नं १</mat-option>
							<mat-option value="2">वडा नं २ </mat-option>
							<mat-option value="3">वडा नं ३</mat-option>
							<mat-option value="4">वडा नं ४</mat-option>
							<mat-option value="5">वडा नं ५</mat-option>
						</mat-select>
					</mat-form-field> -->
				</div>
			</div>
			<div class="kt-portlet__body kt-portlet__body--fit">
				<div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--scroll kt-datatable--loaded"
					id="kt_datatable_latest_orders" style="">
					<table class="kt-datatable__table" style="display: block; max-height: 500px;">
						<thead class="kt-datatable__head">
							<tr class="kt-datatable__row" style="left: 0px;">
								<th data-field="RecordID"
									class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
									<span style="width: 40px;">
										<label
											class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
											<input type="checkbox">&nbsp;
											<span>
											</span>
										</label>
									</span>
								</th>
								<th class="kt-datatable__cell kt-datatable__cell--sort kt-datatable__cell--sort">
									<span style="width: 80px;">दर्ता नंम्बर</span>
								</th>
								<th class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 100px;">प.सं.</span>
								</th>
								<th class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 200px;">बिषय</span>
								</th>
								<th class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 100px;">पत्रको किसिम</span>
								</th>
								<th data-field="Type" class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 200px;">पठाउने कार्यालय/ईकाई/व्यक्ति/शाखाको नाम</span>
								</th>
								<th data-field="Type" class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 200px;">पठाउने कार्यालय/ईकाई/व्यक्ति/शाखाको नाम</span>
								</th>
								<th data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 40px;">
										<button [matMenuTriggerFor]="menu" type="button"
											class="btn btn-label-info btn-sm btn-icon btn-circle">
											<i class="flaticon-more"></i>
										</button>
										<mat-menu #menu="matMenu">
											<button class="dropdown-item" type="button">Today</button>
											<button class="dropdown-item" type="button">Yesterday</button>
											<button class="dropdown-item" type="button">Last 7 days</button>
											<button class="dropdown-item" type="button">This Month</button>
											<button class="dropdown-item" type="button">Last Month</button>
										</mat-menu>
									</span>
								</th>
							</tr>
						</thead>

						<tbody class="kt-datatable__body ps ps--active-y" style="max-height: 446px;">
							<tr data-row="0" class="kt-datatable__row" style="left: 0px;" *ngFor="let d of dartaList">
								<td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
									<span style="width: 40px;"><label
											class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
											<input type="checkbox" value="58">&nbsp;<span></span></label>
									</span>
								</td>
								<td class="kt-datatable__cell--sorted kt-datatable__cell"
									data-autohide-disabled="false">
									<span style="width: 80px;">
										<div class="kt-user-card-v2">
											{{d.regNo}}
										</div>
									</span>
								</td>
								<td class="kt-datatable__cell">
									<span style="width: 100px;">
										{{d.noOfLetter}}
									</span>
								</td>
								<td class="kt-datatable__cell">
									<span style="width: 200px;">
										{{d.subject}}
									</span>
								</td>
								<td class="kt-datatable__cell">
									<span style="width: 100px;">
										{{d.letterKind}}
									</span>
								</td>
								<td class="kt-datatable__cell">
									<span style="width: 200px;">
										{{d.senderOfficeName}}
									</span>
								</td>
								<td class="kt-datatable__cell">
									<span style="width: 200px;">
										{{d.branchIds}}
									</span>
								</td>
								<td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
									<span style="width: 40px;">
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-6">
		<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
			<kt-portlet-header [title]="'चलानी <small>जम्मा चलानी भएका पत्रहरु</small>'"></kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-widget25">
					<span class="kt-widget25__stats m-font-brand">3569</span>
					<span class="kt-widget25__subtitle">जम्मा चलानी भएका पत्रहरु</span>
					<div class="kt-widget25__items">
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								984
							</span>
							<div class="progress kt-progress--sm">
								<div class="progress-bar kt-bg-danger" role="progressbar" style="width: 43%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								आज चलानी भएका पत्रहरु <a style="font-size: 11px;" class="kt-link" href="#">सबै
									हेर्नुहोस्</a>
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								2189
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-success" role="progressbar" style="width: 56%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								यो महिना चलानी भएका पत्रहरु <a style="font-size: 11px;" class="kt-link" href="#">सबै
									हेर्नुहोस्</a>
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								3598
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 89%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								यो वर्ष चलानी भएका पत्रहरु <a style="font-size: 11px;" class="kt-link" href="#">सबै
									हेर्नुहोस्</a>
							</span>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-md-6">
		<div class="kt-portlet">
			<div class="kt-portlet__body  kt-portlet__body--fit">
				<div class="row row-no-padding row-col-separator-xl">
					<div class="col-md-6" style="border-bottom: 1px solid rgb(238, 234, 240)">
						<!--begin::Total Profit-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										चलानी भएका कार्यालयहरु
									</h4>
									<span class="kt-widget24__desc">
										सबै कार्यालयहरु
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-brand">
									8559
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-brand" role="progressbar" style="width: 40%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									40%
								</span>
							</div>
						</div>
						<!--end::Total Profit-->
					</div>

					<div class="col-md-6" style="border-bottom: 1px solid rgb(238, 234, 240)">
						<!--begin::New Feedbacks-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										आर्थिक वर्ष २०७६/७७ मा चलानी भएका
									</h4>
									<span class="kt-widget24__desc">
										सबै कार्यालयहरु
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-warning">
									1089
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 10%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									10%
								</span>
							</div>
						</div>
						<!--end::New Feedbacks-->
					</div>

					<div class="col-md-6" style="border-bottom: 1px solid rgb(238, 234, 240)">
						<!--begin::Total Profit-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										जम्मा वडाहरु
									</h4>
									<span class="kt-widget24__desc">
										सबै वडाहरु
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-brand">
									12
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-brand" role="progressbar" style="width: 1%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									1%
								</span>
							</div>
						</div>
						<!--end::Total Profit-->
					</div>

					<div class="col-md-6" style="border-bottom: 1px solid rgb(238, 234, 240)">
						<!--begin::New Feedbacks-->
						<div class="kt-widget24">
							<div class="kt-widget24__details">
								<div class="kt-widget24__info">
									<h4 class="kt-widget24__title">
										आर्थिक वर्ष २०७६/७७
									</h4>
									<span class="kt-widget24__desc">
										सबै वडाहरु
									</span>
								</div>

								<span class="kt-widget24__stats kt-font-warning">
									5
								</span>
							</div>

							<div class="progress progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 50%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>

							<div class="kt-widget24__action">
								<span class="kt-widget24__change">
									Change
								</span>
								<span class="kt-widget24__number">
									50%
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
			<div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						चलानी भएका पत्रहरु
					</h3>
				</div>
				<div class="kt-portlet__head-toolbar">
					<!-- <div class="dropdown dropdown-inline">
						<button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<i class="flaticon-more-1"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-md dropdown-menu-fit">
							<ul class="kt-nav">
								<li class="kt-nav__head">
									Export Options
									<span data-toggle="kt-tooltip" data-placement="right" title=""
										data-original-title="Click to learn more...">
										<svg xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
											viewBox="0 0 24 24" version="1.1"
											class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--md1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<rect x="0" y="0" width="24" height="24"></rect>
												<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
												<rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
												<rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
											</g>
										</svg> </span>
								</li>
								<li class="kt-nav__separator"></li>
								<li class="kt-nav__item">
									<a href="#" class="kt-nav__link">
										<i class="kt-nav__link-icon flaticon2-drop"></i>
										<span class="kt-nav__link-text">Activity</span>
									</a>
								</li>
								<li class="kt-nav__item">
									<a href="#" class="kt-nav__link">
										<i class="kt-nav__link-icon flaticon2-calendar-8"></i>
										<span class="kt-nav__link-text">FAQ</span>
									</a>
								</li>
								<li class="kt-nav__item">
									<a href="#" class="kt-nav__link">
										<i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
										<span class="kt-nav__link-text">Settings</span>
									</a>
								</li>
								<li class="kt-nav__item">
									<a href="#" class="kt-nav__link">
										<i class="kt-nav__link-icon flaticon2-new-email"></i>
										<span class="kt-nav__link-text">Support</span>
										<span class="kt-nav__link-badge">
											<span class="kt-badge kt-badge--success kt-badge--rounded">5</span>
										</span>
									</a>
								</li>
								<li class="kt-nav__separator"></li>
								<li class="kt-nav__foot">
									<a class="btn btn-label-danger btn-bold btn-sm" href="#">Upgrade plan</a>
									<a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip"
										data-placement="right" title=""
										data-original-title="Click to learn more...">Learn more</a>
								</li>
							</ul>
						</div>
					</div> -->
					<mat-form-field>
						<mat-select>
							<mat-option value="All">सबै</mat-option>
							<mat-option value="1">वडा नं १</mat-option>
							<mat-option value="2">वडा नं २ </mat-option>
							<mat-option value="3">वडा नं ३</mat-option>
							<mat-option value="4">वडा नं ४</mat-option>
							<mat-option value="5">वडा नं ५</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="kt-portlet__body kt-portlet__body--fit">
				<div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--scroll kt-datatable--loaded"
					id="kt_datatable_latest_orders" style="">
					<table class="kt-datatable__table" style="display: block; max-height: 500px;">
						<thead class="kt-datatable__head">
							<tr class="kt-datatable__row" style="left: 0px;">
								<th data-field="RecordID"
									class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
									<span style="width: 40px;">
										<label
											class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
											<input type="checkbox">&nbsp;
											<span>
											</span>
										</label>
									</span>
								</th>
								<th class="kt-datatable__cell kt-datatable__cell--sort kt-datatable__cell--sort">
									<span style="width: 80px;">चलानी नम्बर</span>
								</th>
								<th class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 200px;">बिषय</span>
								</th>
								<th class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 100px;">पत्रको किसिम</span>
								</th>
								<th data-field="Type" class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 200px;">इकाई/शाखा वा कार्यालय</span>
								</th>
								<th data-field="Type" class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 200px;">बोधार्थ कार्यालय वा व्यक्ति</span>
								</th>
								<th data-field="Type" class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 150px;">ठेगाना</span>
								</th>
								<th data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort">
									<span style="width: 40px;">
										<button [matMenuTriggerFor]="menu" type="button"
											class="btn btn-label-info btn-sm btn-icon btn-circle">
											<i class="flaticon-more"></i>
										</button>
										<mat-menu #menu="matMenu">
											<button class="dropdown-item" type="button">
												Today
											</button>
											<button class="dropdown-item" type="button">
												Yesterday
											</button>
										</mat-menu>
									</span>
								</th>
							</tr>
						</thead>

						<tbody class="kt-datatable__body ps ps--active-y" style="max-height: 446px;">
							<tr data-row="0" class="kt-datatable__row" style="left: 0px;" *ngFor="let d of chalaniList">
								<td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
									<span style="width: 40px;"><label
											class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
											<input type="checkbox" value="58">&nbsp;<span></span></label>
									</span>
								</td>
								<td class="kt-datatable__cell--sorted kt-datatable__cell"
									data-autohide-disabled="false">
									<span style="width: 80px;">
										<div class="kt-user-card-v2">
											{{d.invoiceNo}}
										</div>
									</span>
								</td>
								<td class="kt-datatable__cell">
									<span style="width: 200px;">
										{{d.subject}}
									</span>
								</td>
								<td class="kt-datatable__cell">
									<span style="width: 100px;">
										{{d.LetterKindId}}
									</span>
								</td>
								<td class="kt-datatable__cell">
									<span style="width: 200px;">
										{{d.branchIds}}
									</span>
								</td>
								<td class="kt-datatable__cell">
									<span style="width: 200px;">
										{{d.receivers}}
									</span>
								</td>
								<td class="kt-datatable__cell">
									<span style="width: 150px;">
										{{d.officeAddress}}
									</span>
								</td>
								<td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
									<span style="width: 40px;">
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>