table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 2px solid #000;
    padding: 10px;
}

.table-row {
    background-color: #e9e9e9;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}